*.autosave
*.user
/trash
/trash_2
/PokerGUI/PokerGUI.pro.user.2.5pre1/PokerGUI-build*
Poker.pro.user
PokerGUI/PokerGUI.pro.user.2.5pre1
PokerGUI-build*
PokerGUI/Makefile
PokerGUI/object_script.PokerGUI.Release
PokerGUI/object_script.PokerGUI.Debug
PokerGUI/Makefile.Release
PokerGUI/Makefile.Debug
/Test_Poker_Bloov/UserDataBase.sqlite
/Test_Poker_Bloov/Makefile
/Test_Poker_Bloov/Makefile.Debug
/Test_Poker_Bloov/Makefile.Release
/Test_Poker_Bloov/object_script.Test_Poker.Debug
/Test_Poker_Bloov/object_script.Test_Poker.Release
/Test_Poker_Bloov/Test_Poker.pro.user
/Test_Poker_Bloov/release
/Test_Poker_Bloov/debug
